/* page hebergement et populaire et activité */
#detailvignettes{
    display: grid;
    max-width: 1140px;
    margin:80px auto;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap:60px;
}
#detailvignettes img{
    width:100%
}

@media screen and (max-width:1024px){
    #detailvignettes{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:767px){
    #detailvignettes{
        grid-template-columns: 1fr;
    }
}